<div class="container-fluid bg-secondary">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7 pb-0 pb-lg-5 py-5">
        <div class="pb-0 pb-lg-5 py-5">
          <div class="title wow fadeInUp" data-wow-delay="0.1s">
            <div class="title-left">
              <h5>WHO WE ARE</h5>
              <h1>About Afurix</h1>
            </div>
          </div>
          <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">
            Modern businesses depend on reliable digital systems. From
            customer-facing websites to internal software platforms, technology
            shapes how companies operate, communicate, and scale. Afurix works
            with growing businesses to design, build, and optimize the digital
            infrastructure they rely on every day. Whether it’s a
            high-performance website, a custom business application, or a fully
            integrated online platform, our focus remains the same — create
            systems that are stable, scalable, and strategically aligned with
            business objectives. We approach every project with technical
            precision and long-term thinking. The result is not just a finished
            product, but a digital foundation built to support sustained growth.
          </p>
          <ul
            class="list-group list-group-flush mb-5 wow fadeInUp"
            data-wow-delay="0.3s"
          >
            <li class="list-group-item bg-dark text-body border-secondary ps-0">
              <i class="fa fa-check-circle text-primary me-1"></i>
              Custom Website Design & Development.
            </li>
            <li class="list-group-item bg-dark text-body border-secondary ps-0">
              <i class="fa fa-check-circle text-primary me-1"></i>
              Business Software & Automation Solutions.
            </li>
            <li class="list-group-item bg-dark text-body border-secondary ps-0">
              <i class="fa fa-check-circle text-primary me-1"></i>
              E-Commerce & Online Payment Systems.
            </li>
            <li class="list-group-item bg-dark text-body border-secondary ps-0">
              <i class="fa fa-check-circle text-primary me-1"></i>
              Ongoing Technical Support & Enhancements.
            </li>
          </ul>
          <div class="row wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-6">
              <a href="#!" class="btn btn-outline-primary border-2 py-3 w-100"
                >More About Us</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="img/africa-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
