<div class="bg-secondary">
  <div class="container py-5">
    <div class="row g-0 justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="title wow fadeInUp" data-wow-delay="0.1s">
          <div class="title-center">
            <h5>READY TO START?</h5>
            <h1>Is Your Business Technologically Positioned for Growth?</h1>
          </div>
        </div>
        <p class="fs-5 mb-5 wow fadeInUp" data-wow-delay="0.2s">
          Strong companies invest in systems that improve efficiency,
          visibility, and customer experience. Whether it’s your online
          presence, your internal processes, or your overall digital strategy —
          the right technology creates measurable advantage. If you’re ready to
          strengthen your digital infrastructure, Afurix is ready to build it
          with you.
        </p>
        <div class="position-relative wow fadeInUp" data-wow-delay="0.3s">
          <a href="contact">
            <button
              type="button"
              class="btn btn-primary py-3 px-4 top-0 end-0 me-2"
              style="margin-top: 7px"
            >
              Contact Us For a Consultation
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
