<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer py-5 wow fadeIn">
  <div class="container text-center py-5">
    <a href="index.html">
      <h1 class="display-4 mb-3 text-white text-uppercase">
        <i class="me-1"></i>Afurix Solutions
      </h1>
    </a>

    <p>
      &copy; <a class="border-bottom" href="#">Afurix Solutions</a>, All Right
      Reserved.
    </p>

    <!--/*** The author’s attribution link must remain intact in the template. ***/-->
    <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
  </div>
</div>
<!-- Footer End -->
