<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center">
      <div class="title wow fadeInUp" data-wow-delay="0.1s">
        <div class="title-center">
          <h5>OUR WORK</h5>
          <h1>Projects That Deliver Results</h1>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div id="projects"></div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="team-body">
            <img class="img-fluid" src="img/sites/uncanny.webp" alt="" />
            <div class="team-after">
              <span>Uncanny Valley Comics</span>
              <span>E-Commerce Site</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Uncanny Valley</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Company</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/portera.webp" alt="" />
            <div class="team-after">
              <span>Uncanny Valley Comics</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Portera</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Age</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/solvit.webp" alt="" />
            <div class="team-after">
              <span>22</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Solvit Ltd</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Age</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/audiense.webp" alt="" />
            <div class="team-after">
              <span>22</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Audiense Booking</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Age</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/canary.webp" alt="" />
            <div class="team-after">
              <span>22</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">CariCanary</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Age</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/homework.webp" alt="" />
            <div class="team-after">
              <span>22</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Grade Writers</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <div class="team-body">
            <div class="team-before">
              <span>Age</span>
              <span>Height</span>
              <span>Weight</span>
              <span>Bust</span>
              <span>Waist</span>
              <span>Hips</span>
            </div>
            <img class="img-fluid" src="img/sites/leap.webp" alt="" />
            <div class="team-after">
              <span>22</span>
              <span>185</span>
              <span>55</span>
              <span>79</span>
              <span>59</span>
              <span>89</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Leap Afrique</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const projectData = [
    {
      company: "Google",
      project: "Search Engine",
      description: "Improving search algorithms.",
      link: "https://google.com",
    },
    {
      company: "Microsoft",
      project: "Azure Cloud",
      description: "Cloud computing platform.",
      link: "https://azure.microsoft.com",
    },
    {
      company: "Tesla",
      project: "Autopilot",
      description: "Self-driving car system.",
      link: "https://tesla.com",
    },
  ];

  const container = document.getElementById("projects");

  for (let i = 0; i < projectData.length; i++) {
    const item = projectData[i];

    container.innerHTML += `
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="team-body">
            <img class="img-fluid" src="img/sites/uncanny.webp" alt="" />
            <div class="team-after">
              <span>${item.project}</span>
              <span>E-Commerce Site</span>
            </div>
          </div>
          <a class="team-name" href="#">
            <h5 class="text-uppercase mb-0">Uncanny Valley</h5>
          </a>
        </div>
      </div>
  `;
  }
</script>
